body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

form div {
    margin-bottom: 10px;
}

form div label {
    display: block;
    margin-bottom: 5px;
}

form div input, form div textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form div button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
}

form div button:hover {
    background-color: #0056b3;
}

.star-rating {
    display: inline-block;
    direction: rtl;
}


.star-rating span {
    color: lightgray;
    font-size: 30px;
    cursor: pointer;
}



